<ion-card>
  <ion-card-header>
    <ion-card-title
      >Hi, I'm {{ name }}, and I'm a software Developer
      apprentice</ion-card-title
    >
    <ion-card-subtitle
      ><small>Angular/Ionic Developer apprentice</small></ion-card-subtitle
    >

    <ion-card-content>
      <img src="https://picsum.photos/200/300" alt="" />
      <div class="container-info">
        <p>
          I'm a software Developer apprentice learnging Angular/Ionic. I'm
          currently working on a project that is a mobile app for myApp.
        </p>
      </div>

      <div class="container-info">
        <p>
          I'm {{ age }} years old, and I'm a {{ job }}. I'm currently working on
          a project that is a mobile app for myApp.
        </p>
      </div>
    </ion-card-content>
  </ion-card-header>
</ion-card>
