<app-shared-menu
  [showMenu]="true"
  [color]="'primary'"
  [title]="'CRUD Usuarios'"
>
</app-shared-menu>

<ion-content [fullscreen]="true">
  <!-- MAIN CONTENT -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text class="ion-margin">
          <h1>A simple CRUD application, created for educational purposes.</h1>
          <small>Made by Jhoan David Sinisterra Valencia</small>
        </ion-text>
        <ion-card>
          <ion-card-header class="ion-margin-vertical">
            <div class="header-row ion-margin-horizontal">
              <ion-card-title>Users CRUD</ion-card-title>
              <ion-button color="primary" size="small" (click)="onAddUser()">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Add user
              </ion-button>
            </div>

            <ion-card-subtitle class="ion-margin">
              Create - Read - Update - Delete
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div class="table-responsive">
              <table
                class="table table-striped table-hover table-bordered table-sm mb-0 align-middle"
              >
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Doc</th>
                    <th scope="col">Num Doc</th>
                    <th scope="col">Name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Age</th>
                    <th scope="col">Favorite Game</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="text-nowrap"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-nowrap"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
