<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Countries</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" *ngFor="let country of countries">
        <ion-card>
          <img alt="picture of a country" src="../../assets/countries/{{ country.imagen }}" />
          <ion-card-header (click)="presentToast(country)">
            <ion-card-title>{{country.name}}</ion-card-title>
          </ion-card-header>
          
          <div class="buttons-container">
            <ion-button class="delete-button" (click)="presentAlert(country)">Eliminar</ion-button>
            <ion-button class="goTo" [routerLink]="['/city', country.id]">Ver más</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>