<app-shared-menu [title]="'City'" [showMenu]="true" [color]="'primary'"></app-shared-menu>

<ion-content [fullscreen]="true">
  <div>
    <ion-button [routerLink]="['/countries']">Return to countries</ion-button>
  </div>

    <ion-card>
      <img [src]="'../../assets/countries/' + imagen" alt="picture of a country" />

      <ion-card-header>
        <ion-card-title>Capital: {{ capital }}</ion-card-title>
        <ion-card-subtitle>Población: {{ poblacion }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="card-body">
        <p>{{ descripcion }}</p>
      </ion-card-content>
      
    </ion-card>

</ion-content>