<app-shared-menu [showMenu]="true" [color]="'warning'" [title]="'Rick & Morty'">
</app-shared-menu>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      @for(r of rmCharacters; track r.id; let i = $index){
      <ion-col size="12" size-sm="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title> Name: {{ r.name }}, id: {{ r.id }} </ion-card-title>
            <ion-card-subtitle> location: {{ r.location }} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
