// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #3082fc;
	--ion-color-primary-rgb: 48,130,252;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #2a72de;
	--ion-color-primary-tint: #458ffc;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

ion-button{
	margin: 20px;
	width: 200px;
	color: var(--ion-color-primary-contrast-rgb);
}