<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Pokemon</ion-title>
    <ion-menu-button></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Loading indicator -->
  <div *ngIf="loading" class="loading-container">
    <ion-spinner></ion-spinner>
    <p>Cargando pokémon...</p>
  </div>

  <!-- Lista de pokémon -->
  <ion-grid>
    @if (!loading) {
      <ion-row>
        @for (pokemon of pokemonList; track pokemon.id; let i = $index) {
            <ion-col size="12" size-sm="6" size-md="4" size-lg="4" size-xl="4">
              <ion-card [routerLink]="['/pokemon-selected', pokemon.id]">
                <ion-card-header>
                  <ion-card-title>{{ pokemon.name | uppercase }}</ion-card-title>
                  <ion-card-subtitle>Pokédex #{{ pokemon.id }}</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
        }
      </ion-row>
    } @else {
      <p>No hay pokémon disponibles.</p>
    }
  </ion-grid>
</ion-content>
