<!-- COMPONENTE PADRE: Inputs para capturar datos -->
<h2>Componente Padre - Formulario</h2>
<ion-list>
  <ion-item>
    <ion-input
      label="Name"
      label-placement="floating"
      fill="outline"
      placeholder="Enter name"
      ngModel="name"
    >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Lastname"
      label-placement="floating"
      fill="outline"
      placeholder="Enter lastname"
      ngModel="lastname"
    >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Age"
      label-placement="floating"
      fill="outline"
      placeholder="Enter age"
      ngModel="age"
    >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Role"
      label-placement="floating"
      fill="outline"
      placeholder="Enter role"
      ngModel="role"
    >
    </ion-input>
  </ion-item>
</ion-list>

<ion-button id="present-alert-father">More info (Padre)</ion-button>
<ion-alert
  trigger="present-alert-father"
  header="Padre - Hi {{ name }} {{ lastname }}!"
  subHeader="Your age is {{ age }}"
  message="And your role is {{ role }} and your id is {{ id }}"
></ion-alert>

<!-- COMPONENTE HIJO: Aquí pasamos los datos usando @Input -->
<h2>Componente Hijo - Recibiendo datos</h2>
<app-child-component
  [id]="id"
  [name]="name"
  [apellido]="lastname"
  [age]="age"
  [role]="role"
  [quote]="quote"
></app-child-component>
