<app-shared-menu
  [showMenu]="true"
  [color]="'primary'"
  [title]="'Customers'">
</app-shared-menu>

<!-- Solo se puede un elemento ion-content por archivo html-->
<ion-content [fullscreen]="true">  
  <div>
    <ion-button [routerLink]="['/home']">Go to home</ion-button>
  </div>

    <ion-list>
      <ion-list-header>
        <ion-label>Games</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
    </ion-list>

</ion-content>