<app-shared-menu
  [showMenu]="true"
  [color]="'primary'"
  [title]="'Calculadora'">
</app-shared-menu>

<ion-content [fullscreen]="true">
  <!-- EJEMPLO DE COMO UTILIZAR EL SERVICIO CON UNA CALCULADORA SIMPLE -->
  <ion-item>
    <ion-label>
      <ion-input type="number" placeholder="Ingresa un número" [(ngModel)]="a"></ion-input>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-input type="number" placeholder="Ingresa otro número" [(ngModel)]="b"></ion-input>
    </ion-label>
  </ion-item>

  <div class="btns">
    <ion-button (click)="operar('sumar')">Sumar</ion-button>
    <ion-button (click)="operar('restar')">Restar</ion-button>
    <ion-button (click)="operar('multiplicar')">Multiplicar</ion-button>
    <ion-button (click)="operar('dividir')">Dividir</ion-button>
  </div>

  @if (resultado !== null) {
    <ion-item>
      <ion-label>Resultado: {{ resultado }}</ion-label>
    </ion-item>
  }
  @else {
    <ion-item>
      <ion-label>Error: {{ error }}</ion-label>
    </ion-item>
  }
</ion-content>
