<app-shared-menu [showMenu]="true" [color]="'primary'" [title]="'LoginV2'">
</app-shared-menu>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Username" [(ngModel)]="username" required></ion-input>
      <ion-input placeholder="Password" [(ngModel)]="password" type="password" required></ion-input>
    </ion-card-content>
    <ion-footer>
      <ion-button (click)="loginOnClick(username, password)" >Login</ion-button>
      <ion-button (click)="logOutOnClick()" [color]="'danger'" >Log out</ion-button>
    </ion-footer>
  </ion-card>

</ion-content>
