<app-shared-menu
  [showMenu]="true"
  [color]="'primary'"
  [title]="'father-and-son'">
</app-shared-menu>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="father">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Father</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          I am the father
        </ion-card-content>
      </ion-card>
    </div>
    <div class="son">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Son</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          I am the son
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
