<div class="container">
  <h1>Hijo: {{title}} </h1>
  <h2>Datos enviados desde el padre al hijo</h2>
  <ion-label color="primary">
    Mi nombre es {{nombre }}
  </ion-label>
    <ion-label color="danger">
    Mi apellido es {{apellido}}
  </ion-label>
    <ion-label color="warning">
    Mi número documento es {{numero_documento}}
  </ion-label>
    <ion-label color="dark">
    Mi edad es {{edad}}
  </ion-label>

  <ion-input label="Nombre" label-placement="floating" fill="outline" (keyup)="emitTitleChange()" [(ngModel)]="texto"></ion-input>

</div>
